footer {
  background-color: #00adb5;
}

li {
  list-style-type: none;
  display: list-item;
}
/* Product Screen  */
.product_screen_image {
  max-width: 110%;
  max-height: 80%;
}

/* Header  */
.main-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Footer lists */

.lists {
  margin-right: 20px;
  text-align: left;
}

.main-footer {
  padding-top: 25px;
  padding-bottom: 20px;
  color: white;
}

.footer-titles {
  padding-left: 35px;
}
