li {
  list-style-type: none;
  display: list-item;
}

/* Footer lists */

.lists {
  margin-right: 20px;
  text-align: left;
}

.main-footer {
  padding-top: 25px;
  padding-bottom: 20px;
}

.footer-titles {
  padding-left: 35px;
}
